ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
scipy
flask
catboost
xgboost
pymongo
pymongo[srv]
python-multipart
python-dotenv
certifi
pyaml
fastapi
uvicorn
dill
mlflow
dagshub
docker
dvc
bentoml

# -e.